<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>865012510269-ou5ar18d1ppst3tdd2tvqmjtu6p0gkn3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.865012510269-ou5ar18d1ppst3tdd2tvqmjtu6p0gkn3</string>
	<key>API_KEY</key>
	<string>AIzaSyC6vSm8FZOFh_WAYtq0aTmdefk-Od0jfRQ</string>
	<key>GCM_SENDER_ID</key>
	<string>865012510269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pharmacy</string>
	<key>PROJECT_ID</key>
	<string>pharmacy-bc18d</string>
	<key>STORAGE_BUCKET</key>
	<string>pharmacy-bc18d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865012510269:ios:d83deb0719070b4d95c454</string>
</dict>
</plist>